[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "scripts/hugo-coder"]
	path = scripts/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
